<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>Free and For Sale</title>
  {{>css}}
  {{>post_sale_controller}}
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

{{>bsnavbar}}

{{{body}}}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
