<div id="about" class="container text-center">
  <h3>Free and For Sale</h3>
  <p><em>Sale</em></p>
  <p>A sale is the exchange of a commodity or money as the price of a good or a service.[1] Sales (plural only) is activity related to selling or the amount of goods or services sold in a given time period.
The seller or the provider of the goods or services completes a sale in response to an acquisition, appropriation,[2] requisition or a direct interaction with the buyer at the point of sale. There is a passing of title (property or ownership) of the item, and the settlement of a price, in which agreement is reached on a price for which transfer of ownership of the item will occur. The seller, not the purchaser generally executes the sale and it may be completed prior to the obligation of payment. In the case of indirect interaction, a person who sells goods or service on behalf of the owner is known as salesman or saleswoman.
In common law countries, sales are governed generally by the common law and commercial codes. In the United States, the laws governing sales of goods are somewhat uniform to the extent that most jurisdictions have adopted Article 2 of the Uniform Commercial Code, albeit with some non-uniform variations.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p><strong>Naveenraj Palanisamy</strong></p><br>
      <img src="/img/me.jpg" alt="Random Name" width="255" height="255">
    </div>
    <div class="col-sm-4">
      <p><strong>Naveenraj Palanisamy</strong></p><br>
      <img src="/img/me.jpg" alt="Random Name" width="255" height="255">
    </div>
    <div class="col-sm-4">
      <p><strong>Naveenraj Palanisamy</strong></p><br>
      <img src="/img/me.jpg" alt="Random Name" width="255" height="255">
    </div>
  </div>
    
</div>