<div class="container">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navbar-fixed-top">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">1</span>
        <span class="icon-bar">2</span>
        <span class="icon-bar">2</span>
        <span class="icon-bar">3</span>
      </button>
      <a class="pull-left" href="#"><img src="/img/one.jpg" class="logosize img-rounded"></a>
    
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">HOME</a></li>
        <li><a href="/sale">SALES</a></li>
        <li><a href="/post_sale">POST SALE</a></li>
          <li><a href="/profile">PROFILE</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>
</div>
